<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScenariosGames"
        tools:targetApi="31">
        <activity
            android:name=".UserInterface.ExploreGame"
            android:exported="true"
            android:label="@string/title_activity_explore_game"
            android:theme="@style/Theme.ScenariosGames">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.ScenariosGames" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".UserInterface.MainActivity"
            android:exported="true"
            android:label="ScenariosGames"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Administration.UserManager"
            android:exported="false"
            android:label="UserManager" />
        <activity
            android:name=".UserInterface.LogInActivity"
            android:exported="false"
            android:label="LogIn"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name=".UserInterface.SignUpActivity"
            android:exported="false"
            android:label="SignUp"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name=".CreationGame.ScenariosUpdate"
            android:exported="false"
            android:label="ScenariosUpdate"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name="com.example.scenariosapplication.Administration.GameUpdate"
            android:exported="false"
            android:label="GestionJeux"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name="com.example.scenariosapplication.UserInterface.EmailConnection"
            android:exported="false"
            android:label="EmailConnection"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name="com.example.scenariosapplication.UserInterface.FacebookConnection"
            android:exported="false"
            android:label="FacebookConnection"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name="com.example.scenariosapplication.UserInterface.GoogleConnection"
            android:exported="false"
            android:label="GoogleConnection"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name="com.example.scenariosapplication.UserInterface.HomeActivity"
            android:exported="false"
            android:label="HomeActivity"
            android:theme="@style/Theme.ScenariosGames" />
        <activity
            android:name=".UserInterface.DetailsGame"
            android:exported="false"
            android:label="DetailsJeux"
            android:theme="@style/Theme.ScenariosGames" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>